<!--Font Awesome Kit -->
<script src="https://kit.fontawesome.com/7b0de72ccd.js" crossorigin="anonymous"></script>	
	<!--nav bar -->
	<nav class="navbar navbar-expand-lg" id="navbar" style="background: #054a91; color: white">
      <div class="container-fluid">
			  <a class="navbar-brand"><i class="fas fa-paw"></i> Paws for Consideration</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-label-expanded="Close" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggle-label" style="color: white">Menu</span>
				<span class="navbar-toggle-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="z-index: 999999; background-color:#054a91; padding-left: 15px;">
				  <div class="navbar-nav">
					  <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
					  <a class="nav-item nav-link" href="/dogs">Dogs</a>
					  <a class="nav-item nav-link" href="/cats">Cats</a>
            <a class="nav-item nav-link" href="/staff">Staff</a>
			<a class="nav-item nav-link" href="/locations">Locations</a>
			<a class="nav-item nav-link" href="/description">**Project step 3: Description of Pages**</a>
				  </div>
			  </div>
      </div>
</nav>