<!-- Partials at Top -->
<% include partials/header %>
<% include partials/nav %>


<!--Body section here -->
<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Oh No!</h1>
      <p>500 - Internal Server Error.</p>
	  <p><%= message %></p>
    </div>
  </header>
</div>


<!--Footer Section Here-->
<% include partials/footer %>
